{% extends "home.html" %}

{% block title %} Quizmaster-Login {% endblock %}

{% block content %}
<style>
    body {
        background-image: url("/static/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<!-- Section: Design Block -->
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="\static\logo.png" alt="login form" class="img-fluid h-100 w-100"
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form method="POST" action="/login">
                                    <div class="form-group">
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                            <span class="h1 fw-bold mb-0">Quizmaster</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your
                                            account</h5>


                                        <div>
                                            <label for="email" class="form-label">Email address</label>
                                            <input type="email" class="form-control" id="email" name="email" required
                                                placeholder="xyz123@gmail.com">
                                        </div>
                                        <br>
                                        <div>
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                required placeholder="********">
                                        </div>
                                        <br>



                                        <div class="pt-1 mb-4">
                                            <button data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-dark btn-lg btn-block" type="submit">Sign In</button>
                                        </div>


                                        <p class="mb-1 pb-lg-0"
                                            style="font-size:large; font-weight: bold;          color: #000000;">Don't
                                            have an account....?

                                            <a href="/register"
                                                style="font-family:cursive; font-size: larger; font-weight: bold;  color: #9A616D;">Register
                                                here</a>
                                        </p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->


{% endblock %}