{% extends "admin_dashboard.html" %}

{% block title %} Users {% endblock %}

{% block admin_content %}
<div class="container mt-4">
    <h2 class="text-center text-primary fw-bold">Quiz Results</h2>
    {% for quiz in quizzes %}
    <div class="card shadow-lg p-4 mt-4 mb-4 border-primary">
        <h3 class="text-center text-success fw-bold">Quiz: {{quiz.quiz_name}}</h3>
        <div class="card-body">
            <div class="row">
                {% if results|length == 0 %}
                <h4 class="text-center text-danger fw-bold">No Results Available!</h4>
                {% endif %}
                {% for result in results if result.quiz_id == quiz.id %}

                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text"> User: {{result.user.full_name}}</p>
                            <p class="card-text"> Score: {{result.score}}</p>
                            <p class="card-text"> Date: {{result.time_of_attempt}}</p>
                            <p class="card-text"> Unit: {{result.quiz.unit.unit_name}}</p>
                            <p class="card-text"> Subject: {{result.quiz.unit.subject.subject_name}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}